<!DOCTYPE HTML>
<html>
<head>
  <title>Python &raquo; Dashboards</title>
  <link rel="shortcut icon" href="static/images/plotly-ico.png" />
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="static/css/keen-dashboards.css" />
  <!-- For slider -->
  <link rel="stylesheet" type="text/css" href="static/css/iThing.css" />
</head>
    <body>
        
        {% for id in ids %}
	<div class="col-sm-{{id[1]}}">
            <div class="chart-wrapper">
              <div class="chart-stage">
                <div id="{{id[0]}}"></div>
              </div>
              <!--div class="chart-notes">
                <div id="{{id}}_text">{{id}}</div>
              </div-->
            </div>
          </div>          
        {% endfor %}
        <script src="static/js/plotly-latest.min.js"></script>
        <script src="static/js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
            Plotly.plot(ids[i][0], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout);
        }

          var update = function(){
            $.ajax({
                type: 'POST',
                url: '/graph',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({'date':'20170924'}),
                context: this,
                success: function(callback) {
                    console.log(callback);
		    var graphs = callback['graphs']
		    for (var i in graphs) {
                        var graph = graphs[i];
			var idx = graph['idx'];
			    if(idx.split('_')[1]==='ecg'){ //ECG TODO: Define sensor type instead of idx name hacking
                            Plotly.restyle(idx, {
				    x: [graph['t'].map(d => new Date(d*1000)),graph['peaks_t'].map(d => new Date(d*1000))],
                                y: [graph['vol'],graph['peaks']]
                            }, [0,1]);
			    Plotly.relayout(idx, {title: graph['title']});
			    }
			    else{ //if(idx.split('_')==='motion'){ //Motion
			    
                            Plotly.restyle(idx, {
                                x: [graph['t'].map(d => new Date(d*1000)),graph['t'].map(d => new Date(d*1000)),graph['t'].map(d => new Date(d*1000))],
                                y: [graph['x'],graph['y'],graph['z']]
                            }, [0, 1, 2]);
			    Plotly.restyle(graph['act_idx'], graph['activity'])
			    }
                    }
                },
                error: function() {
                    $("#text").html("error!");
                }
            });
        }

        var interval = setInterval(update, 1000);

        </script>
        <style type="text/css">
            .modebar{
                  display: none !important;
            }
        </style>
    </body>
</html>
