<!DOCTYPE HTML>
<html>
<head>
  <title>Python &raquo; Dashboards</title>
  <link rel="shortcut icon" href="static/images/plotly-ico.png" />
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="static/css/keen-dashboards.css" />
  <!-- For slider -->
  <link rel="stylesheet" type="text/css" href="static/css/iThing.css" />
</head>
    <body>
        
        {% for id in ids %}
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-stage">
                <div id="{{id}}"></div>
              </div>
              <div class="chart-notes">
		<div id="{{id}}_text"><font size="36">{{id}}</font></div>
              </div>
            </div>
          </div>          
        {% endfor %}
        <script src="static/js/plotly-latest.min.js"></script>
        <script src="static/js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

          var update = function(){
            $.ajax({
                type: 'POST',
                url: '/graph',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({'date':'20170924'}),
                context: this,
                success: function(callback) {
                    var graphs = callback['graphs']
                    for (var i in graphs) {
                        var graph = graphs[i];
                        var idx = callback['ids'][i]

                        if (ids.indexOf(idx) == -1) {
                            console.log('Hello world')
                        }else{
                            Plotly.restyle(idx, {
                                x: [graph['t'].map(d => new Date(d*1000)),graph['t'].map(d => new Date(d*1000)),graph['t'].map(d => new Date(d*1000))],
                                y: [graph['x'],graph['y'],graph['z']]
                            }, [0, 1, 2]);
                        } 
                        //var len = graph['t'].length
                        /*Plotly.extendTraces(ids[i], {
                            x: [[graph['t'].map(d => new Date(d*1000))[len-1]]],
                            y: [graph['x'],graph['y'],graph['z']]
                        }, [0, 1, 2],500);*/

                        /*Plotly.extendTraces('graph1', {
                            x: [[new Date(callback['t'][len-1]*1000)],[new Date(callback['t'][len-1]*1000)]],
                            y: [[param['crest_factor']],[param['rms']]]
                        }, [0, 1],100);*/
                        var param = graph['param']
			var text = ""
			for (var key in param) {
			    text += key + ': ' + param[key].substr(0,4)+' '
			}
                        /*crest_text = "Crest Factor: " + param['crest_factor'].toFixed(2)
                        magnitude_text = " Root Mean Square: " + param['rms'].toFixed(2)
			corr_xy_text = ' x_orien: ' + param['corr_xy'].toFixed(2)
			corr_xz_text = ' y_orien: ' + param['corr_xz'].toFixed(2)
			corr_yz_text = ' z_orien: ' + param['corr_yz'].toFixed(2)
			
                        if((param['crest_factor']) > 5.9){
                            $("#"+idx+"_text").css('color', 'red');
                        }else{
                            $("#"+idx+"_text").css('color', 'black');
                        }*/
                        //$("#"+idx+"_text").text(crest_text+magnitude_text+corr_xy_text+corr_xz_text+corr_yz_text);
                        $("#"+idx+"_text").text(text);
                    }
                },
                error: function() {
                    $("#text").html("error!");
                }
            });
        }
        // 100/5 == 400/20

        var interval = setInterval(update, 500);

        </script>
        <style type="text/css">
            .modebar{
                  display: none !important;
            }
        </style>
    </body>
</html>
